.conteudo-inicial {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.barra-de-pesquisa {
  display: flex;
  align-items: center;
  justify-content: start;
}

.barra-de-pesquisa input {
  font: 400 1.25rem/1.3 "Inter", sans-serif;
  color: #929292;
  background-color: #ededed;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 12px 16px;
  box-sizing: border-box;
}

.barra-de-pesquisa input:focus {
  outline: none;
}

.barra-de-pesquisa a {
  padding: 9px 16px;
  background-color: #0b478d;
  border-radius: 0 5px 5px 0;
}

.novo-produto button {
  display: inline-block;
  padding: 16px 32px;
  color: #0b478d;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #0b478d;
  font: 700 1.25rem/1.3 "Lato", sans-serif;
  cursor: pointer;
  transition: 0.3;
}

.novo-produto button:hover {
  color: #ffffff;
  background-color: #0b478d;
  border: initial;
}

@media (max-width: 800px) {
  .barra-de-pesquisa input {
    font-size: 1rem;
    line-height: 1.25;
    padding: 12px 12px;
    width: 100%;
  }
  .barra-de-pesquisa a {
    padding: 9px 12px;
  }

  .novo-produto button {
    padding: 12px 24x;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (max-width: 560px) {
  .conteudo-inicial {
    gap: 20px 40px;
  }
  .barra-de-pesquisa {
    order: 2;
  }
  .barra-de-pesquisa input {
    font-size: 0.8rem;
    line-height: 1;
  }
  .barra-de-pesquisa a {
    padding: 8px 10px;
  }
}
